body {
    font-family: 'KawkabMono', monospace;
    margin: 0 auto;
    max-width: 75ch;
    padding: 10px;
}
pre {
    overflow:auto;
}
h1 {
    font-weight: bold;
    margin-bottom: auto;
}
h1 a:hover {
    text-decoration: none;
}
code {
    font-family: inherit;
    font-weight: 200;
}
header, footer {
    text-align: center;
}
footer {
    font-weight: 200;
    font-size: small;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
nav a:hover {
    text-decoration: none;
}
nav a:before {
    content: "[";
}
nav a:after {
    content: "]"
}
nav a:hover:before {
    content: "<";
}
nav a:hover:after {
    content: ">";
}
@media (prefers-color-scheme: dark) {
    body {
        background: #191919;
        filter: invert(1);
    }
    img {
        filter: invert(1);
    }
}
@font-face {
    font-family: 'KawkabMono';
    src: url('/fonts/KawkabMono-Regular.woff') format('woff'),
        url('/fonts/KawkabMono-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'KawkabMono';
    src: url('/fonts/KawkabMono-Light.woff') format('woff'),
        url('/fonts/KawkabMono-Light.ttf') format('truetype');
    font-weight: 200;
}
@font-face {
    font-family: 'KawkabMono';
    src: url('/fonts/KawkabMono-Bold.woff') format('woff'),
        url('/fonts/KawkabMono-Bold.ttf') format('truetype');
    font-weight: bold;
}
